@model BillTracker.ViewModels.AddBillViewModel;

@if (@Model.SaveBills.Count == 0)
{
    <p>No bills yet!</p>
    <a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Home" asp-action="AddBill" role="button">Add Bills</a>
    <a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Category" asp-action="Index" role="button">Add Category</a>
}
else
{
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Home" asp-action="AddBill" role="button">Add Bills</a>
    <a class="btn btn-primary btn-sm active" asp-area="" asp-controller="Category" asp-action="Index" role="button">Add Category</a>
    <div class="table-wrapper">
    <table class="table table-striped table-bordered table-sm">
        <thead>
            <tr>
                <th style="display:none">
                    Id
                </th>
                <th class="th-sm">
                    Due Date
                </th>
                <th class="th-sm">
                    Paid Date
                </th>
                <th class="th-sm">
                    Payee
                </th>
                <th class="th-sm">
                    Category
                </th>
                <th class="th-sm">
                    Memo
                </th>
                <th class="th-sm">
                    Amount
                </th>
                <th class="th-sm">
                    Tax
                    Deductible
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bill in @Model.SaveBills)
            {
                <tr>
                    <td style="display:none"> @bill.Id</td>
                    <td>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", bill.DueDate))</td>
                    @* <td>@bill.DueDate</td> *@
                    @if (bill.PaidDate != null)
                    {
                        <td>@Convert.ToString(string.Format("{0:MM/dd/yyyy}", bill.PaidDate))</td>
                    }
                    else
                    {
                        <td>@bill.PaidDate</td>

                    }
                    <td>@bill.Payee</td>
                    <td>@bill.CategoryId</td>
                    <td>@bill.Memo</td>
                    <td>@bill.Amount</td>
                    <td>@bill.TaxDeductible</td>

                    <td>
                        @*  <i class="bi bi-pencil"></i>   <i class="bi bi-trash"></i>*@
                        <a asp-area="" asp-controller="Home" asp-action="EditBill" asp-route-id="@bill.Id">Edit</a>
                    </td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="DeleteBill" asp-route-id="@bill.Id">Delete</a>

                        @*                    <button type="button" class="btn btn-success"><i class="fas fa-edit"></i></button>
                            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                        *@
                    </td>
                </tr>
            }

        </tbody>

    </table>
  </div>
}
